# pip Requirements for developing python-hl7 (not required to use as a library)
tox==3.14.4; python_version >= '3.5'
flake8==3.7.9
# Newer versions of sphiinx not available for Python 2.7
Sphinx==2.4.1; python_version >= '3.5'
coverage==5.0.3
codecov==2.0.15

unittest2>=0.5.1; python_version < '3.0'
mock>=1.0.1; python_version < '3.3'
